* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0D2032;
    color: #0D2032;
    font-family: Lato;
}

.container {
    width: 50%;
    margin: auto;
    text-align: center;
    position: absolute;
    left: 25%;
    top: 25%;
}

.container .column-1{
    padding-top: 30px;
    padding-bottom: 20px;
    display: block;
    //border: 1px solid red;
}

.container .column-2{
    height: 100%;
    //background-color: white;
    display: block;
    //border: 1px solid red;
}