* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0D2032;
    color: #0D2032;
    font-family: Lato;
}

.container {
    margin: auto;
    position: absolute;
    text-align: center;
    top: 25%;
    left: 25%;
    width: 50%;
}

.container .column-1{
    display: block;
    padding-top: 30px;
    padding-bottom: 20px;
}

.column-1 > div > img {
    width: 95%;
}

.column-2 {
}

.container .column-2 > div{
    display: block;
}

.column-2 > div {
    color: white;
    margin-left: 35px;
    text-align: left;
}

.text > :first-child, .text > :nth-child(2), :nth-child(4) {
    padding-top: 20px;
}

.column-2 > div > :first-child {
    font-size: 36px;
    font-weight: 700;
}

.column-2 > div > :nth-child(2) {
    font-size: 25px;
    font-weight: 400;
}

.column-2 > div > :nth-child(3) {
    font-size: 25px;
    font-weight: 500;
}

.column-2 > div > :nth-child(3) > :first-child {
    color: #12C6C6;
    font-weight: 700;
}

.column-2 > div > :nth-child(4), :nth-child(5){
    font-size: 12px;
}

form {
    margin: 0px;
}

form > input {
    border: 0px;
    border-radius: 2px;
    font-size: 12px;
    font-family: Lato;
    min-width: 230px;
    padding: 10px 0px 10px 15px;
}

form ::placeholder {
    color: #8E8E8E;
    font-family: Lato;
    font-size: 12px;
}

form > button {
    background-color: #12C6C6;
    border: 0px;
    border-radius: 2px;
    color: white;
    font-family: Lato;
    font-size: 12px;
    padding: 10px 30px 10px 30px;
}

.row-2 > img {
    padding-top: 80px;
}